In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\mohit\OneDrive\Desktop\Omdena-AI\omdena-texas-homelessness\src\data\housing\SUB-EST2020_48.csv")

In [3]:
df.head()

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,...,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE042020,POPESTIMATE2020
0,40,48,0,0,0,0,0,A,Texas,Texas,...,26084120,26479646,26963092,27468531,27914064,28291024,28624564,28986794,29286467,29360759
1,162,48,0,100,0,0,0,A,Abbott city,Texas,...,361,358,356,354,355,361,365,368,371,371
2,162,48,0,160,0,0,0,A,Abernathy city,Texas,...,2830,2806,2747,2732,2748,2740,2713,2707,2698,2691
3,162,48,0,1000,0,0,0,A,Abilene city,Texas,...,119883,119829,120698,121776,121949,122173,122798,123498,124258,124407
4,162,48,0,1108,0,0,0,A,Ackerly city,Texas,...,219,224,228,233,230,231,228,231,234,234

In [4]:
df.isnull().sum()

SUMLEV               0
STATE                0
COUNTY               0
PLACE                0
COUSUB               0
CONCIT               0
PRIMGEO_FLAG         0
FUNCSTAT             0
NAME                 0
STNAME               0
CENSUS2010POP        0
ESTIMATESBASE2010    0
POPESTIMATE2010      0
POPESTIMATE2011      0
POPESTIMATE2012      0
POPESTIMATE2013      0
POPESTIMATE2014      0
POPESTIMATE2015      0
POPESTIMATE2016      0
POPESTIMATE2017      0
POPESTIMATE2018      0
POPESTIMATE2019      0
POPESTIMATE042020    0
POPESTIMATE2020      0
dtype: int64

In [5]:
df.nunique()

SUMLEV                  4
STATE                   1
COUNTY                255
PLACE                1222
COUSUB                  1
CONCIT                  1
PRIMGEO_FLAG            2
FUNCSTAT                3
NAME                 1862
STNAME                  1
CENSUS2010POP        1758
ESTIMATESBASE2010    1772
POPESTIMATE2010      1762
POPESTIMATE2011      1769
POPESTIMATE2012      1760
POPESTIMATE2013      1748
POPESTIMATE2014      1764
POPESTIMATE2015      1763
POPESTIMATE2016      1774
POPESTIMATE2017      1758
POPESTIMATE2018      1769
POPESTIMATE2019      1769
POPESTIMATE042020    1768
POPESTIMATE2020      1777
dtype: int64

In [6]:
df.shape

(3119, 24)

In [7]:
# For NULL values we will keep those columns which has around 50% of NAN data

n =int( 0.5 * df.shape[0])

# For Unique values we will keep only those columns which has around 25% of unique values
p = int(0.1 * df.shape[0])

col = df.columns
for i in range(len(col)):
    if df[col[i]].isnull().sum() > n:
        df.drop([col[i]] , axis= 1 , inplace= True)

# After dropping some columns we will make around list of columns
col = df.select_dtypes('object').columns

for i in range(len(col)):
    if df[col[i]].nunique() > p:
        df.drop([col[i]] , axis=1 , inplace=True)

In [8]:
df.shape

(3119, 22)

In [9]:
df.head()

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,STNAME,ESTIMATESBASE2010,...,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE042020,POPESTIMATE2020
0,40,48,0,0,0,0,0,A,Texas,25146072,...,26084120,26479646,26963092,27468531,27914064,28291024,28624564,28986794,29286467,29360759
1,162,48,0,100,0,0,0,A,Texas,361,...,361,358,356,354,355,361,365,368,371,371
2,162,48,0,160,0,0,0,A,Texas,2821,...,2830,2806,2747,2732,2748,2740,2713,2707,2698,2691
3,162,48,0,1000,0,0,0,A,Texas,117509,...,119883,119829,120698,121776,121949,122173,122798,123498,124258,124407
4,162,48,0,1108,0,0,0,A,Texas,220,...,219,224,228,233,230,231,228,231,234,234

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3119 entries, 0 to 3118
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SUMLEV             3119 non-null   int64
 1   STATE              3119 non-null   int64
 2   COUNTY             3119 non-null   int64
 3   PLACE              3119 non-null   int64
 4   COUSUB             3119 non-null   int64
 5   CONCIT             3119 non-null   int64
 6   PRIMGEO_FLAG       3119 non-null   int64
 7   FUNCSTAT           3119 non-null   object
 8   STNAME             3119 non-null   object
 9   ESTIMATESBASE2010  3119 non-null   int64
 10  POPESTIMATE2010    3119 non-null   int64
 11  POPESTIMATE2011    3119 non-null   int64
 12  POPESTIMATE2012    3119 non-null   int64
 13  POPESTIMATE2013    3119 non-null   int64
 14  POPESTIMATE2014    3119 non-null   int64
 15  POPESTIMATE2015    3119 non-null   int64
 16  POPESTIMATE2016    3119 non-null   int64
 17  POPESTIMATE2017    3119 non-null   int64
 18  POPESTIMATE2018    3119 non-null   int64
 19  POPESTIMATE2019    3119 non-null   int64
 20  POPESTIMATE042020  3119 non-null   int64
 21  POPESTIMATE2020    3119 non-null   int64
dtypes: int64(20), object(2)
memory usage: 536.2+ KB

In [11]:
df['STNAME']

0       Texas
1       Texas
2       Texas
3       Texas
4       Texas
        ...
3114    Texas
3115    Texas
3116    Texas
3117    Texas
3118    Texas
Name: STNAME, Length: 3119, dtype: object

In [12]:
df['STNAME'].unique()

array(['Texas'], dtype=object)

In [13]:
# AS we can see that STNAME column has only 1 value so it's better to just delete that column

df.drop(['STNAME'],axis=1,inplace=True)

In [14]:
df['FUNCSTAT'].unique()

array(['A', 'F', 'S'], dtype=object)

In [17]:
categorical_cols = ['FUNCSTAT'] 

from sklearn.preprocessing import LabelEncoder

# instantiate labelencoder object
le = LabelEncoder()

# apply le on categorical feature columns
df[categorical_cols] = df[categorical_cols].apply(lambda col: le.fit_transform(col))
    
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

#One-hot-encode the categorical columns.
#Unfortunately outputs an array instead of dataframe.
array_hot_encoded = ohe.fit_transform(df[categorical_cols])

#Convert it to df
data_hot_encoded = pd.DataFrame(array_hot_encoded, index=df.index)

#Extract only the columns that didnt need to be encoded
data_other_cols = df.drop(columns=categorical_cols)

#Concatenate the two dataframes : 
data_out = pd.concat([data_hot_encoded, data_other_cols], axis=1)

In [18]:
df.head()

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,ESTIMATESBASE2010,POPESTIMATE2010,...,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE042020,POPESTIMATE2020
0,40,48,0,0,0,0,0,0,25146072,25241897,...,26084120,26479646,26963092,27468531,27914064,28291024,28624564,28986794,29286467,29360759
1,162,48,0,100,0,0,0,0,361,362,...,361,358,356,354,355,361,365,368,371,371
2,162,48,0,160,0,0,0,0,2821,2827,...,2830,2806,2747,2732,2748,2740,2713,2707,2698,2691
3,162,48,0,1000,0,0,0,0,117509,117806,...,119883,119829,120698,121776,121949,122173,122798,123498,124258,124407
4,162,48,0,1108,0,0,0,0,220,220,...,219,224,228,233,230,231,228,231,234,234

In [19]:
df.shape

(3119, 21)

In [20]:
df.to_csv(r'C:\Users\mohit\OneDrive\Desktop\Omdena-AI\omdena-texas-homelessness\src\cleaned data\SUB-EST2020_48.csv')